{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>You have {{grocerylists|length }} grocerylists, {{kitchenLists|length }} kitchenlists, {{recipes|length }} recipes, {{tags|length }} tags and ?? added mealplan items!</p>
                </div>
            </div>

        Change pw
                    Delete account
        </div>
    </section>
{% endblock %}

