{% extends 'template/base.html.twig' %}
{% block navItems %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <h1 class="text-center">Weekly mealplan</h1>
                    <div id="mealplanSlider">
                        <div class="slide col-md-3">
                            <div class="card">
                                <div class="card-header"><p>{{today}} (Today)</p>
                                </div>
                                <div class="card-block">
                                    <div class="card-headline">
                                        <h5>Breakfast</h5>
                                        <a href="" data-toggle="modal" data-target="#EditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Dapibus ac facilisis in <a href=""><i class="fa fa-remove pull-right" aria-hidden="true"></i></a></li>
                                        <li class="list-group-item">Morbi leo risus <a href=""><i class="fa fa-remove pull-right" aria-hidden="true"></i></a></li>
                                        <li class="list-group-item">Porta ac consectetur ac <a href=""><i class="fa fa-remove pull-right" aria-hidden="true"></i></a></li>
                                        <li class="list-group-item">Vestibulum at eros <a href=""><i class="fa fa-remove pull-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Lunch</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Dinner</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Snacks</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide col-md-3">
                            <div class="card">
                                <div class="card-header"><p>{{tomorrow}}</p>
                                </div>
                                <div class="card-block">
                                    <div class="card-headline">
                                        <h5>Breakfast</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Lunch</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Dinner</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Snacks</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide col-md-3">
                            <div class="card">
                                <div class="card-header"><p>{{twoDaysFromNow}}</p>
                                </div>
                                <div class="card-block">
                                    <div class="card-headline">
                                        <h5>Breakfast</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Lunch</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Dinner</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Snacks</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide col-md-3">
                            <div class="card">
                                <div class="card-header"><p>{{threeDaysFromNow}}</p>
                                </div>
                                <div class="card-block">
                                    <div class="card-headline">
                                        <h5>Breakfast</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Lunch</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Dinner</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Snacks</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide col-md-3">
                            <div class="card">
                                <div class="card-header"><p>{{fourDaysFromNow}}</p>
                                </div>
                                <div class="card-block">
                                    <div class="card-headline">
                                        <h5>Breakfast</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Lunch</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Dinner</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Snacks</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide col-md-3">
                            <div class="card">
                                <div class="card-header"><p>{{fiveDaysFromNow}}</p>
                                </div>
                                <div class="card-block">
                                    <div class="card-headline">
                                        <h5>Breakfast</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Lunch</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Dinner</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Snacks</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide col-md-3">
                            <div class="card">
                                <div class="card-header"><p>{{sixDaysFromNow}}</p>
                                </div>
                                <div class="card-block">
                                    <div class="card-headline">
                                        <h5>Breakfast</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Lunch</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Dinner</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                    <ul class="list-group">
                                        
                                    </ul>
                                    <div class="card-headline">
                                        <h5>Snacks</h5>
                                        <a href="" data-toggle="modal" data-target="#addEditMealModal"><span class="fa fa-edit" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{# Edit Meal Modal Panel #}
<div class="modal fade" id="EditMealModal" tabindex="-1" role="dialog" aria-labelledby="EditMealModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Meal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Mo | 15.05.17</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Foodstuff</p>
                        <select class="form-control selectpicker centered" style="margin: 0 auto" data-width="90%" multiple data-live-search="true" data-max-options="3" id="food_selectpicker">
                            <option>Leftovers</option>
                            <option>Eat away</option>
                            <option data-divider="true"></option>
                            {% for food in food %}
                                <option data-subtext="{%if food.inStock == false %}  not in stock {% endif %}">{{ food.name }}</li>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <p>Recipes</p>
                        <select class="selectpicker centered" style="margin: 0 auto" data-width="90%" multiple data-live-search="true" data-max-options="3" id="recipes_selectpicker">
                            {% for recipe in recipes %}
                                <option data-subtext="{%if recipe.inStock == false %}  not in stock {% endif %}">{{ recipe.name }}</li>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Gogogo</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('js/mealplan.js') }}"></script>
        <script src="{{ asset('bxslider/jquery.bxslider.js') }}"></script>
        <script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}
