{% extends 'template/base.html.twig' %}
{% block navItems %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <h1 class="text-center">{{recipe.name}}<a href="{{ path('add_recipe') }}"><span class="fa fa-edit" aria-hidden="true"></span></a></h1>
            <div class="row">
                <div class="col-lg-8 col-12" style="margin:auto">
                    <a href="#" title="{{recipe.name}}"><img src="{{ asset('uploads/images/' ~ recipe.image) }}" class="img-thumbnail"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 text-center" style="margin:auto">
                    <p>Tags: {{ recipe.tags|join(', ') }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 text-center">
                    <h3>Description</h3>
                    <p>{{recipe.description}}</p>
                </div>
                <div class="col-lg-6 col-12 text-center">
                    <h3>Ingredients</h3>
                    <p>{{ recipe.ingredients|join(', ') }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
