{% extends 'template/base.html.twig' %}
{% block navItems %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <h1 class="text-center">Recipes</h1></div>
                <div class="col-md-1"><a class="float-right" href="{{ path('add_recipe') }}"><span class="fa fa-plus" aria-hidden="true"></span></a></div>
            </div>
            <div class="row thumbnail-gallery">
                {% for recipe in recipes %}
                <div class="col-lg-3 col-sm-4 col-6">
                    <img src="{{ asset('uploads/images/' ~ recipe.image) }}" class="img-thumbnail">
                    <a href="/recipes/view/{{recipe.id}}" title="{{ recipe.name }}"><div class="thumbnail-hoverbox">
                        <p>{{ recipe.name }}</p>
                        <p style="font-size:14px">Tags: {{ recipe.tags|join(', ') }}</p>
                    </div></a>
                </div>
                {% endfor %}
            </div>
            <div class="text-center">
                {{ knp_pagination_render(recipes) }}
            </div>
        </div>
    </section>
{% endblock %}
