body {
  font-family: 'Oxygen', 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}
html {
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}
@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #9d5281;
}

a:focus, a:hover {
  text-decoration: none;
  color: #9d5281;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: #9d5281;
  border: 1px solid #9d5281;
}

#mainNav .navbar-brand {
  font-size: 30px;
  font-family: Italiana, serif;
  text-transform: none;
  color: #9d5281;
}

#mainNav a {
  color: #9d5281;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: white;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: 90%;
  padding: 200px 0;
  text-align: center;
  color: white;
    margin-left: auto;
  margin-right: auto;
  background: url("../kitchenneu-blurred.jpeg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 500px) {
.masthead {
    height: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
}
}
.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 40px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .masthead {
    /*height: 100%;*/
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section, .about-section, .goals-section, .statistics-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.statistics-section {
  color: white;
}
.download-section {
  color: black;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .about-section, .goals-section, .statistics-section, .download-section, .content-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .content-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default, .btn-secondary {
  color: #9d5281;
  border: 1px solid #9d5281;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover, .btn-secondary:focus, .btn-secondary:hover {
  color: white;
  border: 1px solid #9D759D;
  outline: none;
  background-color: #9D759D;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 25px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
@media (min-width: 992px){
#mainNavBar {
    margin: 0 auto;
}
.navbar-nav li {
    margin-left: 10px;
}
}
@media (max-width: 991px){
.navbar-nav li {
    margin-bottom: 5px;
}
}