footer a {
  margin-left: 5px;
  margin-right: 5px;
}
footer p {
  margin-bottom: 10px;
}
footer #twitter-btn:hover {
  color: #1da1f2;
}
footer #github-btn:hover {
  color: #333;
}
footer #mail-btn:hover {
  color: #9D759D;
}
#section-statistics {
  background: url("../wood.jpg") no-repeat center center scroll;
  background-size: cover;
}

.about-card {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #f2f2f2; padding: 30px;
  min-height: 346px;
}
.about-card i {
  color: #9D759D;
}
.about-card:hover {
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .about-card {
    min-height: 0;
    margin-bottom: 20px;
  }
  #download a {
    width: 175px;
    margin-bottom: 20px;
  }
}
#time-image {
  background: url("../calendar-neu.jpg") no-repeat center center;
  background-size:cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  border: 2px solid #f2f2f2;
}
#effort-image {
  background: url("../fridge-neu.jpg") no-repeat center center;
  background-size:cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  border: 2px solid #f2f2f2;
}

#food-image{
  background: url("../food-neu.jpg") no-repeat center center;
  background-size:cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  border: 2px solid #f2f2f2;
}




.content-section {
  padding-top: 120px;
  /*min-height: 700px;*/
}
.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0; }
.btn-xs {
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    line-height: 1.3;
}

.nav-pills .nav-link:hover {
  background-color: #E8E8E8;
}
.nav-pills .nav-link.active {
  background-color: #9D759D;
}
.grocerylist .list-group-item:first-child, .kitchenList .list-group-item:first-child {
  background-color: #9d5281;
  color: white;
} 
.grocerylist .list-group-item:first-child a, .kitchenList .list-group-item:first-child a {
  color: white;
}

.goals-section {
  color: white;
  background-color: #9d5281;}

/* Mealplan View */
.thumbnail-gallery div {
  margin-bottom: 15px;
}
.fc-day h5 {
  margin-bottom: 5px;
}
form[name="MealplanItem"] .form-group {
  margin-bottom: 5px;
}
form[name="MealplanItem"] .nav-pills {
  margin-top: 20px;
}
/* Recipe View */
.btn-tag {
  border: none;
  color: #FFFFFF;
  border-radius: 20px !important;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  line-height: 1.0;
}
.btn-tag:hover {
  color: #FFFFFF;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form button[data-id="tagFilter"] {
  line-height: 0.83em;
}
#recipes-gallery .jplist-pagination li {
  border: 1px solid #ddd;
  padding: 5px 10px;
}
#recipes-gallery .jplist-pagination li[data-type="first"] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#recipes-gallery .jplist-pagination li[data-type="last"] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#recipes-gallery .jplist-pagination li:hover {
  background-color: #e9ecef;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#recipes-gallery .jplist-pagination li.active {
   background-color: #9D759D;
   border-color: #8C4973 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#recipes-gallery .jplist-pagination li.active a{
  color: white;
}

#recipes-gallery .jplist-drop-down ul {
  width: 116%;
  margin-left: -15px;
}
.jplist-drop-down {
  background: white;
}
.jplist-drop-down:hover {
  background: #e9ecef !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.jplist-panel input[type="text"] {
  width: 100%;
}
@media (max-width: 600px) {
  .jplist-panel {
    display: flex;
  }
  .jplist-panel .text-filter-box{
    width: 50%;
  }
  .jplist-panel .jplist-drop-down{
    padding-left: 5px;
    padding-right: 5px;
    width: 40%;
  }
}
.thumbnail-box {
  background: rgba(255,255,255,0.8);
  color: #9D759D;
  position: absolute;
  width: 100%; 
  height: auto;
  top: 60%;
  overflow: hidden;
  padding: 10px;
  padding-left: 40px;
}

.thumbnail-box .title{
    margin: 0px;
}
form input[value="Delete"] {
    color: #FFF !important;
  border: 1px solid #8e698e;
  background-color: #9D759D;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.thumbnail-hoverbox {
  background-color: white;
  transition: .5s ease;
  position: absolute;
  opacity: 0;
  width: 90%; 
  height: 100px;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    overflow: hidden;
}
/*
.hoverbox {
  background-color: grey; width: 255px; height:100px; position: absolute; top: 0px; opacity: 0.5; border-radius: 5px; display:none;
}*/

#recipes-gallery .col-md-3:hover .thumbnail-hoverbox{
    opacity: 0.8;
}
#recipes-gallery .col-md-3:hover .img-thumbnail {
    opacity: 0.8;
}
#recipes-gallery .col-md-3 .thumbnail-hoverbox p {
    margin-bottom: 5px;
    margin-top: 5px; 
    margin-left: 5px;
    color: #9d5281;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
#recipes-gallery img {
  width: 100%;
  max-height: 150px;
  min-height: 150px;
  object-fit: cover;
}
@media (max-width: 735px) {
  #recipes-gallery img {
    max-height: 100px;
    min-height: 100px;
  }
}
.img-recipe {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.caption-recipe {
    border: 1px solid #ddd;
    border-radius: 0.25em;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 0px;
}
.caption-recipe p {
    margin-bottom: 0px;
}

.bootstrap-tagsinput .tag {
  color: black;
}
.pagination .active .page-link {
    color: white;
    background-color: #8C4973;
    border-color: #8C4973;
}
.pagination .page-item .page-link {
    color: #9D759D;
}
.recipeItemsRow .col-md-3, .recipeItemsRow .col-md-6 {
  padding-left: 3px;
  padding-right: 3px;

}
#editRecipe {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}
input#tag_color {
  height: 40px;
}
form #RecipeItemCollectionType #RecipeItemCollectionType_recipeItemCollection .col-md-3,
form #RecipeItemCollectionType #RecipeItemCollectionType_recipeItemCollection .col-md-6 {
  padding: 0;
}
form #RecipeItemCollectionType #RecipeItemCollectionType_recipeItemCollection {
  margin-left: 15px;
}
/* Grocerylist View */
.grocerylist li:first-child, .grocerylist li:nth-child(2)  {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* Kitchen View */
.kitchenList li:first-child, .kitchenList li:nth-child(2)  {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.card {
    border-color: #8C4973; 
    text-align:center; 
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header {
    background-color: #8C4973 !important; 
    color: white !important; 
}

.card-header p, .card-header h5 {
  margin-bottom: 0px;
}
.card-headline {
    border-bottom: 2px solid aliceblue;
    margin-bottom: 5px;
}
.card-headline h5 {
    display: inline;
    margin-right: 10px;
}
.card-block {
  padding: 10px;
}

.card-block .list-group {
  margin-bottom: 15px;
}

#navbarResponsive #mainNavbar {
  margin: auto;
  margin-top: 8px;
}

.list-group .list-group-item > a span.fa {
  opacity: 0.2;
}

.list-group .list-group-item > a span.fa:hover {
  opacity: 1;
}
/*Fix for bootstrap-select with bootstrap4 */
.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
    display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.modal-dialog .close{
  margin-top: -12px;
}
.list-group-item span.fa {
    margin-top: 4px;
}


.content-section .container {
  min-height: 580px;
}
.container {
    max-width: 1340px;
}
#calendar .fc-day h5 {
  text-align: center;
  border-bottom: 2px solid aliceblue;
  margin-top: 10px;
}
/*.fc-icon {
  line-height: 1.3em;
  top: -1em;
}*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 10px 10px;
    display: block;
    color: #9d5281;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
#mainNav .dropdown .dropdown-content a {
    text-transform: none;
}
#mainNav a.btn:hover {
  color: white;
}
@media (max-width: 991px) {
  #mainNav .dropdown .dropdown-content {
    display: none;
    }
}
.jplist-panel .jplist-drop-down .btn-tag {
  border: none;
  color: #FFFFFF !important;
  border-radius: 20px !important;
  text-shadow: none;
  background: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 0.2rem 0.75rem;
}
.jplist-panel .jplist-drop-down li {
 height: auto;
}
form.add-item-form .col-sm-12 {
  padding: 0;
}
form.add-item-form .form-group {
  margin: 0;
}

  @media (min-width: 451px) {
  .fc-day h5 {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .fc-day h5 {
    font-size: 0.4rem;
  }
  .fc-day-header span {
    font-size: 0.6rem;
  }
  .fc-day .list-group  li {
    padding: 0.5rem 0.5rem;
    font-size: 0.5em;
  }
}
@media (max-width: 650px) {
  .fc-day-header span {
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  .fc-day-header a span {
    width: 100%;
  }
}

.empty-message {
  margin: 0 auto;
  padding-top: 150px;
}
@media (max-width: 500px) {
.empty-message {
  margin: 0 auto;
  padding-top: 50px;
}
.content-section .container {
  min-height: 400px;
}
}
.empty-message h2{
  color: #E5E5E5;
  text-align: center;
}
.bootstrap-select {
  padding-right: 0px;
  padding-left: 0px;
}
.custom-file {
  float: left;
}
.custom-file-input {
  opacity: 1;
}