{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <h1 class="text-center">Add Grocerylist</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
