{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
           <div class="row">
                <div class="col-md-6 m-auto">
                    <h1 class="text-center">Edit Recipe</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 m-auto">
                    {{form(edit_form)}}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
