{% extends 'base.html.twig' %}
{% block body %}
    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            {% include ('flash-messages.html.twig') %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="brand-heading">Easy meal organisation</h1>
                        <p class="intro-text">stuff stuff</p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2>About mealplanner</h2>
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-bottom: 50px">
                <div class="col col-md-4" style="border-right: 1px solid #9d5281">
                    <img src="calendar.jpg" style="height:200px; float:right">
                </div>
                <div class="col col-md-4" style="text-align:left; margin: auto 0">
                    <h5 style="margin-bottom: 10px; color: #9d5281">The Mealplan</h5>
                    <p>Plan your meals for the whole week by adding foods or recipes from the recipebook as breakfast, lunch, dinner or snack</p>
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-bottom: 50px">
                <div class="col col-md-4" style="text-align:right; margin: auto 0; border-right: 1px solid #9d5281">
                    <h5 style="margin-bottom: 10px; color: #9d5281;">The Recipebook</h5>
                    <p>Collect all your favourite Recipes, filter them by tags and add them in the mealplan as your next meal</p>
                </div>
                <div class="col col-md-4">
                    <img src="book.svg" style="height:200px; float:left">
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-bottom: 50px">
                <div class="col col-md-4" style="border-right: 1px solid #9d5281">
                    <img src="kitchen.svg" style="height:250px; float:right">
                </div>
                <div class="col col-md-4" style="text-align:left; margin: auto 0;">
                    <h5 style="margin-bottom: 10px; color: #9d5281">The Kitchen</h5>
                    <p>Track the food in your kitchen by categories and add it to the grocerys when its empty</p>
                </div>
            </div>
            <div class="row justify-content-md-center" style="margin-bottom: 50px">
                <div class="col col-md-4" style="text-align:right; margin: auto 0; border-right: 1px solid #9d5281">
                    <h5 style="margin-bottom: 10px; color: #9d5281">The Grocerys</h5>
                    <p>Create grocerylists even if you're not at home according to the food you have and the food that is left in the kitchen</p>
                </div>
                <div class="col col-md-4">
                    <img src="wagen.jpg" style="height:200px; float:left">
                </div>
            </div>
        </div>
    </section>

    <!-- Goals Section -->
    <section id="goals" class="goals-section text-center" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container" style="position: relative; top: 0; left: 0;">
            <div class="row">
                <div class="col-md-6">
                    <img src="notes.jpeg" style="position: absolute; top: -130px; left: -80px; width: 110%">
                </div>
                <div class="col-md-2">
                    <h2><i class="fa fa-lemon-o fa-2x"></i></h2>
                    <p>Waste less of food by tracking what food is left in your kitchen </p>
                </div>
                <div class="col-md-2">
                    <h2><i class="fa fa-clock-o fa-2x"></i></h2>
                    <p>Save time by planning your meals for the next days</p>
                </div>
                <div class="col-md-2">
                    <h2><i class="fa fa-list-ul fa-2x"></i></h2>
                    <p>Save effort by adding empty foods to the grocerylists easily</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section text-center" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Download Mealplanner</h2>
                <p>Comming soon ...</p>
                <a href="" class="btn btn-default btn-lg">
                    <i class="fa fa-apple fa-fw"></i>
                    <span class="network-name">App Store</span>
                </a>
                <a href="" class="btn btn-default btn-lg">
                    <i class="fa fa-google fa-fw"></i>
                    <span class="network-name">Play Store</span>
                </a>
            </div>
        </div>
    </section>

 <!-- Create Account Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">        
                    <h4 class="modal-title" id="registerModalLabel">Create account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                {{form(register_form)}}
                </div>
            </div>
        </div>
    </div>
    <!--Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
           <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                   <div class="modal-header"> 
                       <h4 class="modal-title" id="loginModalLabel">Login</h4>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                       <form class="form-signin" action="{{ path('login') }}" method="POST">
                           <div class="form-group">
                               <input type="text" class="form-control" id="_username" name="_username" placeholder="Username" required autofocus>
                           </div>
                           <div class="form-group">
                               <input type="password" class="form-control" id="_password"
                               name="_password" placeholder="Password" required>
                           </div>
                   </div>
                   <div class="modal-footer">
                       <button type="submit" class="btn btn-default m-auto">Login</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>

{% endblock %}