{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <h1 class="text-center">Kitchen</h1>
        </div>
    </section>
{% endblock %}
