{% extends 'base.html.twig' %}
{% block body %}    
    <section class="content-section">
        <div class="container">
            <h1 class="text-center">Register</h1>
            <div class="col-md-6 m-auto">
                {{ form(form) }}
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
