{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 m-auto">
                    <h1 class="text-center">Edit Tag</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 m-auto">
                    {{form(edit_form)}}
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>

            </div>
        </div>
    </section>
{% endblock %}
