{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container text-center">
            {% include ('flash-messages.html.twig') %}
            <h1>Tags</h1>
            {% for tag in tags %}
                <a href="{{ path('tag_edit', { 'id': tag.id }) }}" class="btn btn-tag" style="background-color:{{ tag.color }}" role="button"> {{ tag.name }}</a>
            {% endfor %}
            <h1 style="margin-top: 30px">Add Tag</h1>
            <div class="row">
                <div class="col-md-3" style="margin: 0 auto">
                    {{form(new_tag_form)}}
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}
